{% extends "shared/components/base.html" %}

{% block pageTitle %}
  {{ owner }}
{% endblock %}

{% block content %}
  {% set breadcrumbs = {
    "items": [
      { "text": "Home", "href": "/" },
      { "text": "Repository Standards", "href": "/repository-standards" },
      { "text": "Business Units", "href": "/repository-standards/business-units" },
      { "text": owner }
    ]
  } %}
  {{ govukBreadcrumbs(breadcrumbs) }}

  <h1 class="govuk-heading-xl">{{ owner }}</h1>

  <section class="govuk-summary-list govuk-!-margin-bottom-6">
    <h2 class="govuk-heading-l">Summary Statistics</h2>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Total Repositories</dt>
      <dd class="govuk-summary-list__value">{{ repositories | length }}</dd>
    </div>

    {% set compliance_percentage = ((baseline_maturity_level_repositories | length) / (repositories | length)) * 100 if repositories else 0 %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Baseline Compliant</dt>
      <dd class="govuk-summary-list__value">
        <span class="
                     {% if compliance_percentage < 60 %} govuk-tag govuk-tag--red
                     {% elif compliance_percentage < 80 %} govuk-tag govuk-tag--yellow
                     {% elif compliance_percentage < 100 %} govuk-tag govuk-tag--green
                     {% else %} govuk-tag govuk-tag--green-dark
                     {% endif %}
                     ">
          {{ baseline_maturity_level_repositories | length }}
          ({{ compliance_percentage | round | int }}%)
        </span>
      </dd>
    </div>

    {% set compliance_percentage = ((standard_maturity_level_repositories | length) / (repositories | length)) * 100 if repositories else 0 %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Standard Compliant</dt>
      <dd class="govuk-summary-list__value">
        <span class="
                     {% if compliance_percentage < 60 %} govuk-tag govuk-tag--red
                     {% elif compliance_percentage < 80 %} govuk-tag govuk-tag--yellow
                     {% elif compliance_percentage < 100 %} govuk-tag govuk-tag--green
                     {% else %} govuk-tag govuk-tag--green-dark
                     {% endif %}
                     ">
          {{ standard_maturity_level_repositories | length }}
          ({{ compliance_percentage | round | int }}%)
        </span>
      </dd>
    </div>

    {% set compliance_percentage = ((exemplar_maturity_level_repositories | length) / (repositories | length)) * 100 if repositories else 0 %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Exemplar Compliant</dt>
      <dd class="govuk-summary-list__value">
        <span class="
                     {% if compliance_percentage < 60 %} govuk-tag govuk-tag--red
                     {% elif compliance_percentage < 80 %} govuk-tag govuk-tag--yellow
                     {% elif compliance_percentage < 100 %} govuk-tag govuk-tag--green
                     {% else %} govuk-tag govuk-tag--green-dark
                     {% endif %}
                     ">
          {{ exemplar_maturity_level_repositories | length }}
          ({{ compliance_percentage | round | int }}%)
        </span>
      </dd>
    </div>

  </section>

  <section>
    <h2 class="govuk-heading-l">Repositories</h2>
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
            Repository
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
           Compliance Status
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
            Team
          </th>
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for repository in repositories %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ repository.name }}</td>
          <td class="govuk-table__cell">
            <img src={% if repository.maturity_level > 0 %}"/assets/images/{{ repository.maturity_level }}-badge.svg"{% else %}"/assets/images/fail-badge.svg"{% endif %}  alt="{{ repository.maturity_level }}" />
          </td>
          <td class="govuk-table__cell">{{ repository.authorative_team_owner }}</td>
          <td class="govuk-table__cell"><a href="/repository-standards/{{ repository.name }}" rel="noreferrer noopener" class="govuk-link">View Compliance Report</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

{% endblock %}
