{% extends "shared/components/base.html" %}

{% block pageTitle %}
  {{ repository.name }}
{% endblock %}

{% block content %}
  {% set breadcrumbs = {
    "items": [
      { "text": "Home", "href": "/" },
      { "text": "Repository Standards", "href": "/repository-standards" },
      { "text": repository.name }
    ]
  } %}
  {{ govukBreadcrumbs(breadcrumbs) }}


  <h1 class="govuk-heading-xl">{{ repository.name }}</h1>

  <section class="govuk-summary-list govuk-!-margin-bottom-6">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Owner</dt>
      <dd class="govuk-summary-list__value">{{ repository.authorative_business_unit_owner }}</dd>
    </div>

    {% if repository.authorative_team_owner %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Team</dt>
      <dd class="govuk-summary-list__value">{{ repository.authorative_team_owner }}</dd>
    </div>
    {% endif %}

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Description</dt>
      <dd class="govuk-summary-list__value">{{ repository.description }}</dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Compliance Badge</dt>
      <dd class="govuk-summary-list__value"><img src="/repository-standards/api/{{ repository.name }}/badge"  alt="{{ repository.compliance_status }}" /></dd>
    </div>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">References</dt>
      <dd class="govuk-summary-list__value">
        <a href="https://github.com/ministryofjustice/{{ repository.name }}" rel="noreferrer noopener" target="_blank" class="govuk-link">View Repository on GitHub</a>
      </dd>
    </div>
  </section>


  <section>
    {% set badgeText = "To add the compliance badge to your README file, you can use the following markdown snippet: [![Ministry of Justice Repository Compliance Badge](https://github-community.service.justice.gov.uk/repository-standards/api/" + repository.name + "/badge)](https://github-community.service.justice.gov.uk/repository-standards/" + repository.name + ")" %}
    {{ govukDetails({
      "summaryText": "How do I add the badge to my README file?",
      "text": badgeText
    }) }}
  </section>

  <section>
    <h2 class="govuk-heading-l">Baseline Checks</h1>
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
            Check
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
           Compliance Status
          </th>
          <th scope="col" class="govuk-table__header">
            <!-- Guidance Link Column -->
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for check in repository.checks if check.maturity_level == 1 %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-font-weight-bold">{{ check.name }}<p class="govuk-body-s">{{ check.description }}</p></td>
          <td class="govuk-table__cell">
            <span class="
                        {% if check.status == "fail" %} govuk-tag govuk-tag--red
                        {% elif check.status == "pass" %} govuk-tag govuk-tag--green
                        {% else %} govuk-tag govuk-tag--grey
                        {% endif %}"
            >
            {{ check.status.capitalize() }}
            </span>
          </td>
          <td class="govuk-table__cell">
            <a href="{{ check.link_to_guidance }}" class="govuk-link">View Guidance</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <h2 class="govuk-heading-l">Standard Checks</h1>
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
            Check
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
           Compliance Status
          </th>
          <th scope="col" class="govuk-table__header">
            <!-- Guidance Link Column -->
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for check in repository.checks if check.maturity_level == 2 %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-font-weight-bold">{{ check.name }}<p class="govuk-body-s">{{ check.description }}</p></td>
          <td class="govuk-table__cell">
            <span class="
                        {% if check.status == "fail" %} govuk-tag govuk-tag--red
                        {% elif check.status == "pass" %} govuk-tag govuk-tag--green
                        {% else %} govuk-tag govuk-tag--grey
                        {% endif %}"
            >
            {{ check.status.capitalize() }}
            </span>
          </td>
          <td class="govuk-table__cell">
            <a href="{{ check.link_to_guidance }}" class="govuk-link">View Guidance</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>


  <section>
    <h2 class="govuk-heading-l">Exemplar Checks</h1>
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
            Check
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
           Compliance Status
          </th>
          <th scope="col" class="govuk-table__header">
            <!-- Guidance Link Column -->
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for check in repository.checks if check.maturity_level == 3 %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-font-weight-bold">{{ check.name }}<p class="govuk-body-s">{{ check.description }}</p></td>
          <td class="govuk-table__cell">
            <span class="
                        {% if check.status == "fail" %} govuk-tag govuk-tag--red
                        {% elif check.status == "pass" %} govuk-tag govuk-tag--green
                        {% else %} govuk-tag govuk-tag--grey
                        {% endif %}"
            >
            {{ check.status.capitalize() }}
            </span>
          </td>
          <td class="govuk-table__cell">
            <a href="{{ check.link_to_guidance }}" class="govuk-link">View Guidance</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
