{% extends "shared/components/base.html" %}

{% block pageTitle %}
    Business Units
{% endblock %}

{% block content %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Repository Standards",
        "href": "/repository-standards"
      },
      {
        "text": "Teams"
      }
    ]
  }) }}


  <h1 class="govuk-heading-xl">Teams</h1>
  <p class="govuk-body-s">View compliance reports for Teams within the Ministry of Justice.</p>
  <section>
    <div class="govuk-grid-row">
      {% for team in team_names %}
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a class="govuk-link" href="/repository-standards/teams/{{ team }}">{{ team }}</a>
        </h2>
        <p class="govuk-body-s">View the compliance status for all active, public repositorys owned by {{ team }}.</p>
      </div>
      {% endfor %}
    </div>
  </section>

{% endblock %}
