{% extends "shared/components/base.html" %}

{% block pageTitle %}
   GitHub Community
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">GitHub Community</h1>
  <p class="govuk-body">
    Welcome to the community! This space is built by passionate engineers for passionate engineers. Whether you're exploring new ideas, testing proof of concepts, or maintaining live projects, this is your space to collaborate, innovate, and create solutions that matter.
  </p>

  <section>
    <h2 class="govuk-heading-l">Projects</h2>
    <p class="govuk-body">Live projects are established tools and resources that help teams manage and improve their GitHub workflows.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a href="/repository-standards/" class="govuk-link" rel="noreferrer noopener">GitHub Repository Standards</a>
        </h3>
        <p class="govuk-body-s">View insights and compliance information for GitHub repositories in the Ministry of Justice.</p>
      </div>


      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a href="https://github.com/ministryofjustice/github-actions" class="govuk-link" rel="noreferrer noopener" target="_blank">Shared GitHub Actions</a>
        </h3>
        <p class="govuk-body-s">Reduce duplicate efforts by reusing pre-built GitHub Actions maintained by the Ministry of Justice.</p>
      </div>


      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a href="/modernisation-platform/" class="govuk-link" rel="noreferrer noopener">Modernisation Platform</a>
        </h3>
        <p class="govuk-body-s">Overview of environments hosted on the Modernisation Platform.</p>
      </div>


    </div>
  </section>

  {% endblock %}
